#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
table th {
  background: black;
}
table tbody tr:hover {
  background-color: #f37908; /* Color de fondo al pasar el mouse */
  cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  display: flex; /* Cambia el contenedor a un contenedor flexible */
  gap: 0.2em; /* Opcional: agrega espacio entre los inputs */
}
.Entradas {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten cuando el espacio es pequeño */
  gap: 0.5em; /* Espacio entre el label y el input */
}

.Entradas label {
  font-size: 1rem; /* Tamaño del texto del label */
  font-weight: 500; /* Peso del texto del label */
}

.Entradas input {
  padding: 0.5em; /* Espacio dentro del input */
  font-size: 1rem; /* Tamaño del texto del input */
  border: 1px solid #ccc; /* Borde del input */
  border-radius: 4px; /* Bordes redondeados del input */
}
.Entradas select {
  padding: 0.5em; /* Espacio dentro del input */
  font-size: 1rem; /* Tamaño del texto del input */
  border: 1px solid #ccc; /* Borde del input */
  border-radius: 4px; /* Bordes redondeados del input */
}

.Entradas input,
.Entradas select {
  flex: 1; /* Hace que ambos elementos ocupen el mismo espacio */
  padding: 0.5em;
  font-size: 1rem;
}

.read-the-docs {
  color: #888;
}
/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .card {
    display: block; /* Cambiar a columna en pantallas pequeñas */
  }
  .Entradas {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
  }
}

/* Media query para pantallas grandes (tabletas y escritorios) */
@media (min-width: 769px) {
  .card {
    display: flex; /* Mantener la fila en pantallas grandes */
  }
  .Entradas {
    flex-direction: row; /* Mantener fila en pantallas grandes */
    gap: 10px;
    margin: 0 10px;
  }
  .Entradas input {
    width: 200px; /* Fijamos el tamaño de los inputs en pantallas grandes */
  }
}
